.how-clean {
  max-height: 800px;
  position: relative;
  & img {
    margin: 0 auto;
  }
  & .kitchen-box {
    position: relative;
  }
}

.how-clean-text {
  font-family: 'TTTravels-Regular';
  display: flex;
  justify-content: space-around;
  padding-bottom: 52px;
  & h2 {
    font-size: 44px;
    line-height: 120%;
  }
  & p {
    font-size: 18px;
    line-height: 140%;
    max-width: 414px;
  }
}

.example {
  position: absolute;
  top: 0;
  left: -60px;
  z-index: 10;
  height: 100%;

  display: flex;
  & .menu {
    background-color: $decor-color;
    color: $text-color;
    width: 375px;
    & h3 {
      z-index: 1;
      font-family: 'TTTravels-Medium';
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 200px;
      margin-top: 35px;
      margin-left: 53px;
    }
    & .list-room {
      font-family: 'TTTravels-Regular';
      font-size: 44px;
      line-height: 120%;
      margin-left: 60px;
    }
    & li {
      cursor: pointer;
      display: flex;
      &:hover,
      &:focus {
        font-style: italic;
        &::before {
          opacity: 1;
          transform: translateX(0);
        }
      }
      &::before {
        content: '→ ';
        display: inline-block;
        opacity: 0;
        z-index: 5;

        transform: translateX(-50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
          opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
  // .kitchenBG {
  // }
  // .BG {
  //   display: inline-block;
  //   position: absolute;
  //   z-index: 6;
  //   opacity: 0;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   transform: translateX(100%);
  //   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //   // opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // }
}

.circle {
  &-1 {
    @extend %circle-form;
    top: 250px;
    left: 390px;
  }
  &-2 {
    @extend %circle-form;
    top: 377px;
    left: 680px;
  }
  &-3 {
    @extend %circle-form;
    top: 435px;
    left: 300px;
  }
  &-4 {
    @extend %circle-form;
    top: 465px;
    left: 510px;
  }
  &-5 {
    @extend %circle-form;
    top: 487px;
    left: 870px;
  }
  &-6 {
    @extend %circle-form;
    top: 576px;
    left: 630px;
  }
  &-7 {
    @extend %circle-form;
    top: 704px;
    left: 340px;
  }
}

%circle-form {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  z-index: 30;
  width: 49px;
  height: 49px;
  border-radius: 40px;
  // background-color: rgba(90, 48, 240, 0.2);
  // &:focus,
  // &:hover {
  //   background-color: rgba(90, 48, 240, 0);
  // }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-baner {
  @extend %circle-baner;
}

%circle-baner {
  position: absolute;
  top: -70%;
  left: 0;
  transform: translate(-35%, 0);
  z-index: 30;
  white-space: nowrap;
  font-family: 'TTTravels-Medium';
  font-size: 13px;
  line-height: 130%;
  background-color: $main-bg-color;
  border-radius: 2px;
  padding: 8px 10px;
}

.off {
  @extend %circle-baner;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-plus {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $decor-color;
  border-radius: 40px;
}
