.how-clean {
  position: relative;
  overflow: hidden;
  @include for-size(desktop) {
    height: 800px;
  }
  & img {
    margin: 0 auto;
  }
  & .kitchen-box {
    z-index: 2;
    position: relative;
    @include for-size(mobile) {
      margin-bottom: 20px;
    }
    @include for-size(tablet) {
      margin-bottom: 20px;
    }
  }

  & .bathroom-box {
    position: relative;
    z-index: 1;
    @include for-size(mobile) {
      margin-bottom: 20px;
    }
    @include for-size(tablet) {
      margin-bottom: 20px;
    }
  }
  & .kitchen {
    @extend %photo;
  }
  & .bathroom {
    @extend %photo;
  }
}
%photo {
  position: absolute;
  left: 0;
  top: 0;
}

.how-clean-text {
  font-family: 'TTTravels-Regular';

  @include for-size(desktop) {
    display: flex;
    justify-content: space-around;
    padding-bottom: 52px;
  }
  & h2 {
    font-size: 44px;
    line-height: 120%;
    @include for-size(mobile) {
      display: inline-block;
      margin-bottom: 20px;
    }
    @include for-size(tablet) {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
  & p {
    font-size: 18px;
    line-height: 140%;
    max-width: 414px;
    @include for-size(mobile) {
      display: inline-block;
      margin-bottom: 20px;
    }
    @include for-size(tablet) {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}

.example {
  position: absolute;
  top: 0;
  left: -60px;
  z-index: 10;
  height: 100%;

  display: flex;
  & .menu {
    background-color: $decor-color;
    color: $text-color;
    width: 375px;
    @include for-size(mobile) {
      display: none;
    }
    @include for-size(tablet) {
      display: none;
    }

    & h3 {
      z-index: 1;
      font-family: 'TTTravels-Medium';
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 200px;
      margin-top: 35px;
      margin-left: 70px;
    }

    & .list-room {
      font-family: 'TTTravels-Regular';
      font-size: 44px;
      line-height: 120%;
      margin-left: 60px;
      & .active {
        font-style: italic;
        &::before {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    & li {
      cursor: pointer;
      display: flex;

      &:hover,
      &:focus {
        font-style: italic;
      }

      &::before {
        content: '→ ';
        display: inline-block;
        opacity: 0;
        z-index: 5;

        transform: translateX(-50%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
          opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
}

// оформлення коло з
.circle {
  &-1 {
    @extend %circle-form;
    top: 250px;
    left: 390px;
  }
  &-2 {
    @extend %circle-form;
    top: 377px;
    left: 680px;
  }
  &-3 {
    @extend %circle-form;
    top: 435px;
    left: 300px;
  }
  &-4 {
    @extend %circle-form;
    top: 465px;
    left: 510px;
  }
  &-5 {
    @extend %circle-form;
    top: 487px;
    left: 870px;
  }
  &-6 {
    @extend %circle-form;
    top: 576px;
    left: 630px;
  }
  &-7 {
    @extend %circle-form;
    top: 704px;
    left: 340px;
  }
}

.circle2 {
  &-1 {
    @extend %circle-form;
    top: 250px;
    left: 300px;
  }
  &-2 {
    @extend %circle-form;
    top: 377px;
    left: 700px;
  }
  &-3 {
    @extend %circle-form;
    top: 620px;
    left: 850px;
  }
  &-4 {
    @extend %circle-form;
    top: 700px;
    left: 400px;
  }
  &-5 {
    @extend %circle-form;
    top: 710px;
    left: 680px;
  }
}

%circle-form {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  z-index: 30;
  width: 49px;
  height: 49px;
  border-radius: 40px;
  @include for-size(mobile) {
    display: none;
  }
  @include for-size(tablet) {
    display: none;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-baner {
  @extend %circle-baner;
}

%circle-baner {
  position: absolute;
  top: -70%;
  left: 0;
  transform: translate(-35%, 0);
  z-index: 30;
  white-space: nowrap;
  font-family: 'TTTravels-Medium';
  font-size: 13px;
  line-height: 130%;
  background-color: $main-bg-color;
  border-radius: 2px;
  padding: 8px 10px;
}

.off {
  @extend %circle-baner;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle-plus {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: $decor-color;
  border-radius: 40px;
}
