.order {
  position: relative;
  font-family: 'TTTravels-Regular';
  color: $main-text-color;
  align-items: center;
  margin-bottom: 73px;
  height: 730px;
  display: flex;
  align-content: center;

  & .title-text {
    display: inline-block;
    max-width: 400px;
    margin-left: 700px;
  }
  & h1 {
    height: 252px;
    font-size: 76px;
    line-height: 110%;
    margin-bottom: 30px;
  }
  & p {
    font-size: 18px;
    line-height: 140%;
  }
  & .backgraund-img {
    position: absolute;
    top: -70px;
    left: -60px;
    z-index: -1;
    max-width: 720px;
    width: 50vw;
  }
}

@keyframes order-text {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.order-text {
  animation: order-text infinite 50s linear;
}

.order-btn {
  cursor: pointer;
  font-family: 'TTTravels-Medium';
  color: $text-color;
  text-align: center;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 20;

  height: 150px;
  width: 150px;
  background: $decor-color;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    line-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    height: 195px;
    width: 195px;
    top: 60%;
    font-size: 18px;
    line-height: 130%;
  }
}
